* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4CAF50, #2196F3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    color: black;
}

.card {
    background: linear-gradient(to right, orange, white, green);
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    display: inline-block;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #4CAF50;
}
